@import "../../scss/_vars.scss";
.panel {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $gutter !important;
    .filter {
        width: 40%;
        height: 50px;
        display: flex;
        justify-content: flex-end;
    }
}

.list {
    &-empty {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        top: 38vh;
        .icon-custom {
            width: 140px;
            height: 140px;
            color: $grey;
        }
        &__title {
            color: $grey;
            text-align: center;
            width: 100%;
        }
    }
}