@import "../../scss/_vars.scss";
.form {
    .form-control {
        margin-bottom: $gutter !important;
    }
}

.calendar {
    background: $light-background !important;
    border: none !important;
    border-radius: $gutter * 0.5;
    box-shadow: $flat-shadow;
    color: $grey;
    &.dark {
        background: $dark-background !important;
        box-shadow: $flat-shadow-dark !important;
    }
    .react-calendar__navigation button {
        color: $grey;
    }
    .react-calendar__month-view__days__day--neighboringMonth {
        color: $light-grey !important;
    }
    .react-calendar__month-view__days__day {
        color: $medium-grey;
    }
    .react-calendar__month-view__days__day--weekend {
        color: $danger;
    }
    .react-calendar__tile--active:enabled:hover {
        color: $white !important;
    }
}

.logo {
    width: 100px;
    height: 55px;
    background: $light-background;
    position: relative;
    margin-top: $gutter * 3 !important;
    margin-bottom: $gutter * 3 !important;
    &:before {
        content: "";
        position: absolute;
        top: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 25px solid $light-background;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 25px solid $light-background;
    }
    &.dark {
        background: $dark-background;
        box-shadow: $flat-shadow-dark;
        &:before {
            border-bottom: 25px solid $dark-background;
        }
        &:after {
            border-top: 25px solid $dark-background;
        }
    }
}