@import "../../scss/_vars.scss";
.layout {
    margin: 0 $gutter !important;
    max-width: $small;
    position: relative;
    @include desde($small) {
        margin: 0 auto !important;
    }
}

.theme {
    margin: 0px !important;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.children {
    margin-bottom: $gutter * 5 !important;
    @include desde($small) {
        margin-bottom: $gutter * 8 !important;
    }
}