@import "../scss/_vars.scss";
.title {
    text-align: left;
    color: transparent;
    background: $special-gradient !important;
    background-clip: text !important;
    margin: $gutter 0 !important;
}