@import "../scss/_vars.scss";
.list {
    &-empty {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: $gutter * 2 0 !important;
        .icon-custom {
            width: 140px;
            height: 140px;
            color: $grey;
        }
        &__title {
            color: $grey;
            text-align: center;
        }
    }
}