@import "../scss/_vars.scss";
.layout {
    margin: 0 $gutter !important;
    max-width: 100%;
    position: relative;
}

.theme {
    margin: 0px !important;
    position: absolute;
    top: $gutter*1.8;
    right: $gutter;
    cursor: pointer;
    z-index: 1000;
}

.children {
    margin-bottom: $gutter * 5 !important;
}