@import "./_tools.scss";

/* Aqui se guardarab las variables */

// Weight para las fuentes
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
// Gutter
$gutter: 1em;
$radius: 8px;
// Breakpoints
$small: 480px;
$medium: 768px;
$large: 1025px;
$x-large: 1400px;

/*
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: $normal;
    src: url('~/../fonts/Roboto-Medium.ttf');
 }
*/

@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,700,700i&display=swap");
$font-text: "Muli",
sans-serif;
$font-size: em(16px);
$h3-size: $font-size * 1.15;
$h2-size: $font-size * 1.35;
$h1-size: $font-size * 1.7;
$darker-grey: #404e5a;
$dark-grey: #4e5d6a;
$medium-grey: #748a9d;
$grey: #a6bcd0;
$light-grey: #dbe2ed;
$lighter-grey: #f0f4f8;
$white: #ffffff;
$danger: #f22613;
$success: #00e640;
// light mode
$light-background: #f0f4f8;
$light-shadow-lighter: #ffffff;
$light-shadow-darker: #cccfd3;
$flat-shadow: 4px 4px 6px $light-shadow-darker,
-4px -4px 6px $light-shadow-lighter;
$press-shadow: inset 4px 4px 6px $light-shadow-darker,
inset -4px -4px 6px $light-shadow-lighter;
// dark mode
$dark-background: #131419;
$darker-shadow: #08080b;
$lighter-shadow: #1e2028;
$primary: #03a9f4;
$press-shadow-dark: inset 4px 4px 6px $darker-shadow,
inset -4px -4px 6px $lighter-shadow;
$flat-shadow-dark: 4px 4px 6px $darker-shadow,
-4px -4px 6px $lighter-shadow;
$special-gradient: linear-gradient(to right,
$primary,
#ff0080);